<!DOCTYPE HTML>
<html>
	<head>
		<title>OceanFlux</title>
  		<link rel="icon" type="image/png" href="../photos/icons/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../styles/miStyles.css" /><noscript>
		<link rel="stylesheet" href="../styles/introStyles/assets/css/noscript.css" /></noscript>

		<script src="https://kit.fontawesome.com/ec98bdf4d8.js" crossorigin="anonymous"></script>

		
	</head>
	<body class="is-preload">

		<nav class="navbar2">
            <h1>OceanFlux</h1>
        </nav>

			<!--<video autoplay loop muted playsinline id="videoPlayer">
			<source src="/photos/video/video6.mp4" type="video/mp4">
			</video>-->
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>
				<!-- Menu -->
				<nav id="menu">
					<h2>Menú</h2>
					<ul>
						<li><a href="intro.html">Inicio</a></li>
						<li><a href="playas.html">Playas</a></li>
						<li><a href="aboutus.html">About us</a></li> 
						<li><a href="hoteles.html">Hoteles</a></li>
						<li><a href="convenios.html">Convenios</a></li> 
                        <li><a href="logIn.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Mi Cuenta</a></li>
						<li><a href="misviajes.html"><i class="fa-solid fa-umbrella-beach" style="color: #ffffff;"></i> Mis Viajes</a></li>
					</ul>
				</nav>
				<!-- Main -->
		<div id="main">
			<div class="inner">
				
                <div class="container">
                  <div class="row">
                      <div class="column">


                        <div class="card2">
                          <div class="card2-content">
                            <h41 class="card2-title">HOTEL:</h41><h14>Playa del Carmen<br></h14>
							<h41 class="card2-title">PLAYA:</h41><h14>Hotel Paraíso Azul<br></h14>
                            <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$200 USD<br></h14>
							<h41 class="card2-title">CONVENIO:</h41><h14>Despegar<br></h14>

							<button type="button" class="btn btn-primary">
								Agregar a mi viaje!
							</button>

                          </div>
                          <img src="/photos/hoteles/HOTEL (1).jpg" class="card2-image-circle" id = "imghotel">
                        </div>

						<div class="card2">
							<div class="card2-content">
							  <h41 class="card2-title">HOTEL:</h41><h14>Cancún<br></h14>
							  <h41 class="card2-title">PLAYA:</h41><h14>Resort Coral Pacifico<br></h14>
							  <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$180 USD<br></h14>
							  <h41 class="card2-title">CONVENIO:</h41><h14>Best Day<br></h14>
  
							  <button type="button" class="btn btn-primary">
								  Agregar a mi viaje!
							  </button>
  
							</div>
							<img src="/photos/hoteles/HOTEL (2).jpg" class="card2-image-circle"id = "imghotel">
						  </div>

						  <div class="card2">
							<div class="card2-content">
							  <h41 class="card2-title">HOTEL:</h41><h14>Tulum<br></h14>
							  <h41 class="card2-title">PLAYA:</h41><h14>Majestic Palms Resort<br></h14>
							  <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$250 USD<br></h14>
							  <h41 class="card2-title">CONVENIO:</h41><h14>Best Day<br></h14>
  
							  <button type="button" class="btn btn-primary">
								  Agregar a mi viaje!
							  </button>
  
							</div>
							<img src="/photos/hoteles/HOTEL (3).jpg" class="card2-image-circle"id = "imghotel">
						  </div>

						  <div class="card2">
							<div class="card2-content">
							  <h41 class="card2-title">HOTEL:</h41><h14>Puerto Escondido<br></h14>
							  <h41 class="card2-title">PLAYA:</h41><h14>Serenity Beach Hotel<br></h14>
							  <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$300  USD<br></h14>
							  <h41 class="card2-title">CONVENIO:</h41><h14>Best Day<br></h14>
  
							  <button type="button" class="btn btn-primary">
								  Agregar a mi viaje!
							  </button>
  
							</div>
							<img src="/photos/hoteles/HOTEL (4).jpg" class="card2-image-circle"id = "imghotel">
						  </div>

						  <div class="card2">
							<div class="card2-content">
							  <h41 class="card2-title">HOTEL:</h41><h14>Zihuatanejo<br></h14>
							  <h41 class="card2-title">PLAYA:</h41><h14>Vista Marina Suites<br></h14>
							  <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$220 USD<br></h14>
							  <h41 class="card2-title">CONVENIO:</h41><h14>American Express Viajes<br></h14>
  
							  <button type="button" class="btn btn-primary">
								  Agregar a mi viaje!
							  </button>
  
							</div>
							<img src="/photos/hoteles/HOTEL (5).jpg" class="card2-image-circle"id = "imghotel">
						  </div>

						  <div class="card2">
							<div class="card2-content">
							  <h41 class="card2-title">HOTEL:</h41><h14>Puerto Vallarta<br></h14>
							  <h41 class="card2-title">PLAYA:</h41><h14>Hotel Paraíso Azul<br></h14>
							  <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$280 USD<br></h14>
							  <h41 class="card2-title">CONVENIO:</h41><h14>Viajes El Corte Inglés<br></h14>
  
							  <button type="button" class="btn btn-primary">
								  Agregar a mi viaje!
							  </button>
  
							</div>
							<img src="/photos/hoteles/HOTEL (6).jpg" class="card2-image-circle"id = "imghotel">
						  </div>

						  <div class="card2">
							<div class="card2-content">
							  <h41 class="card2-title">HOTEL:</h41><h14>Acapulco<br></h14>
							  <h41 class="card2-title">PLAYA:</h41><h14>Acapulco Paradise Resort<br></h14>
							  <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$230 USD<br></h14>
							  <h41 class="card2-title">CONVENIO:</h41><h14>Despegar<br></h14>
  
							  <button type="button" class="btn btn-primary">
								  Agregar a mi viaje!
							  </button>
  
							</div>
							<img src="/photos/hoteles/HOTEL (7).jpg" class="card2-image-circle"id = "imghotel">
						  </div>

						  <div class="card2">
							<div class="card2-content">
							  <h41 class="card2-title">HOTEL:</h41><h14>Manzanillo<br></h14>
							  <h41 class="card2-title">PLAYA:</h41><h14>Sunrise Bay Lodge<br></h14>
							  <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$190 USD<br></h14>
							  <h41 class="card2-title">CONVENIO:</h41><h14>Viajes El Corte Inglés<br></h14>
  
							  <button type="button" class="btn btn-primary">
								  Agregar a mi viaje!
							  </button>
  
							</div>
							<img src="/photos/hoteles/HOTEL (8).jpg" class="card2-image-circle"id = "imghotel">
						  </div>

						  <div class="card2">
							<div class="card2-content">
							  <h41 class="card2-title">HOTEL:</h41><h14>Mazatlán<br></h14>
							  <h41 class="card2-title">PLAYA:</h41><h14>Marbella Sunset Resort<br></h14>
							  <h41 class="card2-title">PRECIO x NOCHE:</h41><h14>$260 USD<br></h14>
							  <h41 class="card2-title">CONVENIO:</h41><h14>American Express Viajes<br></h14>
  
							  <button type="button" class="btn btn-primary">
								  Agregar a mi viaje!
							  </button>
  
							</div>
							<img src="/photos/hoteles/HOTEL (9).jpg" class="card2-image-circle"id = "imghotel">
						  </div>

                      </div>
                  </div>
                </div>
			</div>
		</div>
			</div>

		<!-- Scripts -->
			<script src="../styles/introStyles/assets/js/jquery.min.js"></script>
			<script src="../styles/introStyles/assets/js/browser.min.js"></script>
			<script src="../styles/introStyles/assets/js/breakpoints.min.js"></script>
			<script src="../styles/introStyles/assets/js/util.js"></script>
			<script src="../styles/introStyles/assets/js/main.js"></script>

	</body>
</html>