<!doctype html>
<html lang="en">

<head>
    <title>OceanFlux</title>

  	<link rel="icon" type="image/png" href="../photos/icon.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
       
        <link rel="stylesheet" href="../styles/introStyles.css">
        <script src="https://kit.fontawesome.com/ec98bdf4d8.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

        <nav class="navbar2">
            <h1>OceanFlux</h1>

            <div class="nav-container">
                <a class="nav-link" href="../views/logIn.html" id="loginButton" role="button">
                    <i class="fa-regular fa-user custom-icon" style="color: #ffffff;"></i> Mi cuenta
                </a>    
                <a class="nav-link" href="/views/misviajes.html" id="misviajes" role="button">
                    <i class="fa-solid fa-umbrella-beach" style="color: #ffffff;"></i> Mis viajes
                </a> 
            </div>
        </nav>
         
      
        <!-- place navbar here -->
        <nav class="navbar">
            <div class="collapse navbar-collapse single-page-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/views/intro.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/planificacion.html">Plan de viaje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/resumen.html">Resumen del viaje</a>
                    </li>
        
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <video autoplay loop muted playsinline id="videoPlayer">
                    <source src="/photos/video/video3.mp4" type="video/mp4">
                </video>

                <div class="col-md-6">
                    <div class="card mb-4 bs5-card-default card-bg">
                        <div class="card-body no-decoration">
                            <h5 class="card-title"><a href="./playas.html">Playas</a></h5>
                        </div>
                    </div>
                </div>
                
        
                <div class="col-md-6">
                    <div class="card mb-4 bs5-card-default card-bg">
                        <div class="card-body no-decoration">
                            <h5 class="card-title"><a href="./hoteles.html">Hoteles</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4 bs5-card-default card-bg">
                        <div class="card-body no-decoration">
                            <h5 class="card-title"><a href="./aboutus.html">Sobre Nosotros</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4 bs5-card-default card-bg">
                        <div class="card-body no-decoration">
                            <h5 class="card-title"><a href="./convenios.html">Convenios</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </header>

    <main>

    </main>

    <footer>
        <!-- place footer here -->
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>










