<!DOCTYPE HTML>
<html>
	<head>
		<title>OceanFlux</title>
  		<link rel="icon" type="image/png" href="../photos/icons/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../styles/intro.css" /><noscript>
		<link rel="stylesheet" href="../styles/introStyles/assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="../styles/playasStyles/main.css" /></noscript>
		<script src="https://kit.fontawesome.com/4167f19ec8.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<nav class="navbar2">
            <h1>OceanFlux</h1>
        </nav>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Nav -->
								<nav>
									<ul>
										<a class="nav-link" href="#" id="loginButton" role="button" data-bs-toggle="modal" data-bs-target="#loginModal">
											<i class="fa-regular fa-user custom-icon" style="color: #88b4be;"></i> Mi cuenta
										</a>
										<a class="nav-link" href="/views/misviajes.html" id="misviajes" role="button" style="margin: 1cm;">
											<i class="fa-solid fa-umbrella-beach" style="color: #88b4be;"></i> Mis viajes
										</a> 
									
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>
				<!-- Menu -->
				<nav id="menu">
					<h2>Menú</h2>
					<ul>
						<li><a href="intro.html">Inicio</a></li>
						<li><a href="playas.html">Playas</a></li>
						<li><a href="aboutus.html">About us</a></li> 
						<li><a href="hoteles.html">Hoteles</a></li>
						<li><a href="convenios.html">Convenios</a></li> 
                        <li><a href="logIn.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Mi Cuenta</a></li>
						<li><a href="misviajes.html"><i class="fa-solid fa-umbrella-beach" style="color: #ffffff;"></i> Mis Viajes</a></li>
					</ul>
				</nav>
				<!-- Main -->
					
						<div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card mb-4 bs5-card-default card-bg">
                                        <div class="card-body no-decoration">
                                            <h5 class="card-title"><a href="./playas.html">Playas</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card mb-4 bs5-card-default card-bg">
                                        <div class="card-body no-decoration">
                                            <h5 class="card-title"><a href="./hoteles.html">Hoteles</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card mb-4 bs5-card-default card-bg">
                                        <div class="card-body no-decoration">
                                            <h5 class="card-title"><a href="./aboutus.html">Sobre Nosotros</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card mb-4 bs5-card-default card-bg">
                                        <div class="card-body no-decoration">
                                            <h5 class="card-title"><a href="./convenios.html">Convenios</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

			

		<!-- Scripts -->
			<script src="../styles/introStyles/assets/js/jquery.min.js"></script>
			<script src="../styles/introStyles/assets/js/browser.min.js"></script>
			<script src="../styles/introStyles/assets/js/breakpoints.min.js"></script>
			<script src="../styles/introStyles/assets/js/util.js"></script>
			<script src="../styles/introStyles/assets/js/main.js"></script>

	</body>
</html>