<!DOCTYPE HTML>
<html>
	<head>
		<title>OceanFlux</title>
  		<link rel="icon" type="image/png" href="../photos/icons/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../styles/miStyles.css" /><noscript>
		<link rel="stylesheet" href="../styles/introStyles/assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="../styles/playasStyles/main.css" /></noscript>
		<link rel="stylesheet" href="/app/styles/aboutus.css" /></noscript>

		<script src="https://kit.fontawesome.com/4167f19ec8.js" crossorigin="anonymous"></script>
		
	</head>
	<body class="is-preload">

		<nav class="navbar2">
            <h1>OceanFlux</h1>
        </nav>

		<div class="background-image pag3"></div>


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>
				<!-- Menu -->
				<nav id="menu">
					<h2>Menú</h2>
					<ul>
						<li><a href="intro.html">Inicio</a></li>
						<li><a href="playas.html">Playas</a></li>
						<li><a href="aboutus.html">About us</a></li> 
						<li><a href="hoteles.html">Hoteles</a></li>
						<li><a href="convenios.html">Convenios</a></li> 
                        <li><a href="logIn.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Mi Cuenta</a></li>
						<li><a href="misviajes.html"><i class="fa-solid fa-umbrella-beach" style="color: #ffffff;"></i> Mis Viajes</a></li>
					</ul>
				</nav>
				<!-- Main -->
					<div id="aboutus">
						<div class="container">
							<div class="row">
								<div id="main">
									<div class="inner">
										<h3>Sobre Nosotros</h3>
										<p>Bienvenido a OceanFlux, tu puerta de entrada a experiencias vacacionales inolvidables en las hermosas playas de México. En OceanFlux, entendemos que cada viaje es único, y nos enorgullece ser tu socio confiable para crear paquetes vacacionales a medida que se adapten a tus sueños y necesidades.<br><br>
										Estamos aquí para convertir tus sueños de vacaciones en una realidad. Ponte en contacto con nosotros para comenzar a planificar tu próximo escape a las playas de México con OceanFlux. ¡Confía en nosotros para crear recuerdos que perduren toda la vida!</p>
										<h3>Nuestra Misión</h3>
										<p>En OceanFlux, nuestra misión es hacer que tus sueños de escapadas playeras se hagan realidad. Nos esforzamos por proporcionar experiencias de viaje personalizadas, combinando la serenidad de las playas mexicanas con servicios de alta calidad, para que cada momento de tu viaje sea inolvidable.<br><br>
										Con años de experiencia en la industria del turismo, el equipo de OceanFlux está compuesto por expertos apasionados que conocen a la perfección las playas de México. Nos enorgullece ofrecer un servicio profesional y personalizado, respaldado por un profundo conocimiento de los destinos, hoteles y actividades que harán que tu experiencia sea excepcional.</p>
										<h3>Tu viaje tu Estilo</h3>
										<p>En OceanFlux, creemos que cada viajero es único. Por eso, trabajamos estrechamente contigo para entender tus preferencias y crear un paquete vacacional que se adapte a tu estilo de viaje. Ya sea que busques la relajación total en la playa, aventuras emocionantes o una combinación de ambas, estamos aquí para convertir tus deseos en una realidad.<br><br>
										La calidad es la piedra angular de OceanFlux. Desde la elección de los hoteles hasta la planificación de las actividades, nos comprometemos a brindarte lo mejor en cada aspecto de tu viaje. Colaboramos con proveedores confiables y seleccionamos cuidadosamente cada detalle para garantizar que disfrutes de una experiencia vacacional impecable. <br><br>
										En OceanFlux, valoramos la riqueza natural y cultural de México. Trabajamos para que tu experiencia no solo sea placentera, sino también enriquecedora. Desde la exploración de playas vírgenes hasta la inmersión en la vibrante cultura local, te invitamos a descubrir la belleza de México de la mano de OceanFlux.</p>
									</div>
							</div>
						</div>
					
					</div>
			</div>

		<!-- Scripts -->
			<script src="../styles/introStyles/assets/js/jquery.min.js"></script>
			<script src="../styles/introStyles/assets/js/browser.min.js"></script>
			<script src="../styles/introStyles/assets/js/breakpoints.min.js"></script>
			<script src="../styles/introStyles/assets/js/util.js"></script>
			<script src="../styles/introStyles/assets/js/main.js"></script>

	</body>
</html>