<!DOCTYPE HTML>
<html>

<head>
	<title>OceanFlux</title>
	<link rel="icon" type="image/png" href="../photos/icons/icon.png">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../styles/miStyles.css" /><noscript>
		<link rel="stylesheet" href="../styles/introStyles/assets/css/noscript.css" />
	</noscript>

	<script src="https://kit.fontawesome.com/4167f19ec8.js" crossorigin="anonymous"></script>

</head>

<body class="is-preload">

	<nav class="navbar2">
		<h1>OceanFlux</h1>
	</nav>

	<div class="background-image pag2"></div>


	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Menu -->
		<nav id="menu">
			<h2>Menú</h2>
			<ul>
				<li><a href="intro.html">Inicio</a></li>
				<li><a href="playas.html">Playas</a></li>
				<li><a href="aboutus.html">About us</a></li>
				<li><a href="hoteles.html">Hoteles</a></li>
				<li><a href="convenios.html">Convenios</a></li>
				<li><a href="logIn.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Mi Cuenta</a></li>
				<li><a href="misviajes.html"><i class="fa-solid fa-umbrella-beach" style="color: #ffffff;"></i> Mis Viajes</a>
				</li>
			</ul>
		</nav>
		<!-- Main -->
		<div id="aboutus">
			<div class="container">
				<div class="row">
					<div id="main">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="column">
										<div class="card2">
											<div class="card2-content">
												<h4 class="card2-title">PriceTravel</h4>
												<p class="card2-subtitle">PriceTravel es una agencia en línea que ofrece una amplia gama de
													opciones para viajes nacionales e internacionales. Proporcionan paquetes vacacionales, vuelos,
													hoteles y actividades</p>
											</div>
											<img src="../photos/empresas/PriceTravel.PNG" class="card2-image-circle">
										</div>

										<div class="card2">
											<div class="card2-content">
												<h4 class="card2-title">Despegar</h4>
												<p class="card2-subtitle"><br>Despegar es una agencia de viajes en línea que opera en varios
													países de América Latina, incluido México. Ofrecen opciones de vuelos, hoteles, paquetes y
													actividades</p>
											</div>
											<img src="../photos/empresas/Despegar.PNG" class="card2-image-circle">
										</div>

										<div class="card2">
											<div class="card2-content">
												<h4 class="card2-title">Best Day</h4>
												<p class="card2-subtitle"><br>Best Day es una agencia de viajes en línea con una fuerte
													presencia en México. Ofrece servicios de reserva para vuelos, hoteles, paquetes vacacionales y
													actividades, tanto en México como en otros destinos</p>
											</div>
											<img src="../photos/empresas/BestDay.PNG" class="card2-image-circle">
										</div>

										<div class="card2">
											<div class="card2-content">
												<h4 class="card2-title"><br><br>Viajes El Corte Inglés</h4>
												<p class="card2-subtitle"><br>Aunque es originaria de España, Viajes El Corte Inglés tiene
													presencia en México y es conocida por ofrecer servicios de alta calidad en la planificación de
													viajes, incluyendo paquetes vacacionales y reservas de vuelos y hoteles</p>
											</div>
											<img src="../photos/empresas/CorteIngles.PNG" class="card2-image-circle">
										</div>

										<div class="card2">
											<div class="card2-content">
												<h4 class="card2-title">American Express Viajes</h4>
												<p class="card2-subtitle"><br>American Express Viajes proporciona servicios de viaje exclusivos
													para los titulares de tarjetas American Express. Ofrecen beneficios adicionales y
													asesoramiento personalizado en la planificación de viajes</p>
											</div>
											<img src="../photos/empresas/AmericanExpress.PNG" class="card2-image-circle">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Scripts -->
		<script src="../styles/introStyles/assets/js/jquery.min.js"></script>
		<script src="../styles/introStyles/assets/js/browser.min.js"></script>
		<script src="../styles/introStyles/assets/js/breakpoints.min.js"></script>
		<script src="../styles/introStyles/assets/js/util.js"></script>
		<script src="../styles/introStyles/assets/js/main.js"></script>

</body>

</html>