<!DOCTYPE HTML>
<html>
	<head>
		<title>OceanFlux</title>
  		<link rel="icon" type="image/png" href="../photos/icons/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../styles/miStyles.css" /><noscript>
		<link rel="stylesheet" href="../styles/introStyles/assets/css/noscript.css" /></noscript>
		<script src="https://kit.fontawesome.com/ec98bdf4d8.js" crossorigin="anonymous"></script>

		
	</head>
	<body class="is-preload">

		<nav class="navbar2">
            <h1>OceanFlux</h1>
        </nav>

			<!--<video autoplay loop muted playsinline id="videoPlayer">
			<source src="/photos/video/video6.mp4" type="video/mp4">
			</video>-->
			
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>
				<!-- Menu -->
				<nav id="menu">
					<h2>Menú</h2>
					<ul>
						<li><a href="intro.html">Inicio</a></li>
						<li><a href="playas.html">Playas</a></li>
						<li><a href="aboutus.html">About us</a></li> 
						<li><a href="hoteles.html">Hoteles</a></li>
						<li><a href="convenios.html">Convenios</a></li> 
                        <li><a href="logIn.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Mi Cuenta</a></li>
						<li><a href="misviajes.html"><i class="fa-solid fa-umbrella-beach" style="color: #ffffff;"></i> Mis Viajes</a></li>
					</ul>
				</nav>
				<!-- Main -->
		<div id="main">
			<div class="inner">
                <div class="container">
                  <div class="row">
                      <div class="column">

						
                  </div>
                </div>
			</div>
		</div>
			</div>

		<!-- Scripts -->
			<script src="../styles/introStyles/assets/js/jquery.min.js"></script>
			<script src="../styles/introStyles/assets/js/browser.min.js"></script>
			<script src="../styles/introStyles/assets/js/breakpoints.min.js"></script>
			<script src="../styles/introStyles/assets/js/util.js"></script>
			<script src="../styles/introStyles/assets/js/main.js"></script>

	</body>
</html>