<!DOCTYPE HTML>
<html>
	<head>
		<title>OceanFlux</title>
  		<link rel="icon" type="image/png" href="../photos/icons/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../styles/indexStyles/assets/css/main.css"/>
		<noscript><link rel="stylesheet" href="../styles/indexStyles/assets/css/noscript.css" /></noscript>
		<script src="https://kit.fontawesome.com/4167f19ec8.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>OceanFlux</h1>
						<p>Your Favorite Trip Planner</p>
						<nav>
							<ul>
								<li><a href="intro.html"<i class="fa-solid fa-play" style="color: #ffffff;"></i><span class="label">Dribbble</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>

		<script src = "/app/script/"></script>
	</body>
</html>